@use './colors' as c;

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    // font-size: 62.5%;
    font-size: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}

body{
    background-color: c.$primary;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track {
    background-color: c.$black;
}
::-webkit-scrollbar-thumb {
    background-color: c.$light-purple;
    border-radius: 10px;
}