$bg-color1: #292d4d;
$bg-color2: #2e3d5c;
$header-color: #7d83a4;
$primary: #191b31;
$light-purple: #263453;
$accent: #6182f8;
$light-pink: #bfc6f8;
$white: #f5ebf4;
$secondary-black: #100d25;
$black: #0d0c1b;
$purple2: #a8c7fc;
