// $primary: #23142C;
// $light-purple: #4E315F;
// $accent: #F861DF;
// $light-pink: #F5B4EB;
// $white: #F5EBF4;
// $secondary-black: #1C0D25;
// $black: #150C1B;
// $purple2: #FCA8EE;
$bg-color1: #292d4d;
$bg-color2: #2e3d5c;
$header-color: #7d83a4;
$primary: #191B31;
$light-purple: #263453;
$accent: #6182F8;
$light-pink: #bfc6f8;
$white: #F5EBF4;
$secondary-black: #100d25;
$black: #0d0c1b;
$purple2: #a8c7fc;
