@use '../global' as g;
@use '../util' as u;

.projects {
    color: g.$white;
    width: min(100% - u.rem(40), u.rem(1000));
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0;
    position: relative;

    .heading {
        h3 {
            font-family: g.$font1;
            font-size: u.rem(22);
            letter-spacing: u.rem(1.55);
            color: g.$accent;
            text-align: center;
            padding: 1rem 0;
        }
    }

    .projects-section {
        padding: 2rem 0;

        .project1 {
            display: flex;
            align-items: center;
            column-gap: 3rem;
            row-gap: 1rem;
            margin-bottom: 2rem;

            @include u.breakpoint-down(medium) {
                flex-direction: column;
                margin-bottom: 3rem;
            }

            .img-content {
                background-color: g.$purple2;
                padding: 0.5rem;
                border-radius: 0.4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    @include u.breakpoint-down(small) {
                        width: 100%;      
                    }
                }
            }

            .text-content {
                display: flex;
                flex-direction: column;
                row-gap: 1.25rem;

                .title {
                    h3 {
                        font-family: g.$font1;
                        text-transform: uppercase;
                        font-size: u.rem(20);
                        font-weight: 400;
                        // color: #a083b9;
                        color: g.$accent;

                        @include u.breakpoint-down(medium) {
                            text-align: center;
                            padding: 0.2rem 0 0.45rem;
                        }
                    }
                }

                .tech-used-live-view {
                    display: flex;
                    flex-direction: column;
                    row-gap: 0.5rem;
                    font-family: g.$font2;
                    .tech-used {
                        column-count: 2;
                        column-gap: u.rem(0);

                        div {
                            margin-bottom: u.rem(12);
                        }

                        li {
                            background-color: g.$light-purple;
                            width: max-content;
                            padding: 0.23rem;
                            border-radius: 0.3rem;
                            font-size: u.rem(15);
                            text-transform: uppercase;
                            @include u.breakpoint-down(small) {
                                width: min-content   
                            }
                        }
                    }
                    .live-view {
                        display: flex;
                        padding: 1rem 0;
                        column-gap: u.rem(10);

                        .live,
                        .github {
                            color: g.$white;
                            display: flex;
                            column-gap: u.rem(5);
                            font-size: u.rem(19);
                            // background-color: #A60C84;
                            // border: 1px solid #A60C84;
                            background-color: g.$secondary-black;
                            border: 1px solid g.$secondary-black;
                            padding: u.rem(2.5) u.rem(5);
                            border-radius: u.rem(5);
                            transition: 0.3s all ease-out;
                            @include u.breakpoint-down(medium) {
                               font-size: u.rem(17);
                            }
                            &:hover {
                                background: g.$light-purple;
                            }
                        }
                    }
                }
            }
        }
    }

    a {
        text-align: center;

        button {
            background: none;
            border: none;
            font-family: g.$font1;
            font-size: u.rem(18);
            color: g.$accent;
            border: 1px solid g.$accent;
            padding: u.rem(10) u.rem(20);
            border-radius: u.rem(5);
            cursor: pointer;
            transition: 0.3s all ease-out;

            &:hover {
                // background-color: #A60C84;
                background-color: g.$accent;
                color: g.$white;
            }
        }
    }

    .projects-bg-text {
        position: absolute;
        font-family: g.$font4;
        font-size: u.rem(100);
        top: 57%;
        left: 50%;
        transform: translate(-43%, -50%);
        // color: #30173F;
        color: g.$bg-color1;
        white-space: nowrap;
        z-index: -1;

        @include u.breakpoint-down(medium) {
            font-size: u.rem(90);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}